
<div class="block">
  <form action="/games" method="post">
    <div class="field">
      <div class="control">
        <button class="button" type="submit" autofocus="true">New game</button>
      </div>
    </div>
  </form>
</div>

<div class="block"><h1 class="title">Recent games</h1></div>

<div class="block">
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr><th>Create time</th><th>Update time</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <% games.each do |game| %>
      <tr>
        <td><%= game.create_time %></td><td><%= game.update_time %></td><td><a href="/games/<%= game.id %>">Show</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
