<div class="block"><a href="/">Back</a></div>

<% unless game_details.winner %>
<div class="block">
  <form class="block" action="/games/<%= game_details.game_id %>/count_points" method="post" autocomplete="off" onsubmit="countPoints(event, this)">
    <div class="field">
      <div class="control">
        <input class="input" inputmode="numeric" type="text" name="score" pattern="[0-9\+]+" autofocus="true">
      </div>
    </div>
  </form>
</div>
<% end %>

<div class="block" id="js-scores">
  <%= erb :scores, locals: { game_details: } %>
</div>

<div class="block has-text-right">
  <form action="/games/<%= game_details.game_id %>/cancel_last_score" method="post" onsubmit="cancelLastScore(event, this)">
    <div class="field">
      <div class="control">
        <button class="button is-danger" type="submit">Cancel last score</button>
      </div>
    </div>
  </form>
</div>

<script>
  async function countPoints(e, form) {
    e.preventDefault();

    const response = await fetch(form.action, {method: 'post', body: new FormData(form)});

    if (response.redirected) {
        window.location.href = response.url;
    } else {
        scoresElement().innerHTML = await response.text();

        form.reset();
    }
  }

  async function cancelLastScore(e, form) {
    e.preventDefault();

    const response = await fetch(form.action, {method: 'post'});
    scoresElement().innerHTML = await response.text();

    form.reset();
  }

  function scoresElement() {
    return document.getElementById('js-scores');
  }
</script>
