<div class="block">
  <a href="/">Back to recent games</a>
</div>

<h1 class="title">Player1 / 301</h1>

<div class="block">
  <form class="block" action="/games/1/add_score" method="post" autocomplete="off" onsubmit="addScore(event, this)">
    <div class="field">
      <div class="control">
        <input class="input" inputmode="numeric" type="text" name="score" pattern="[0-9\+]+" autofocus="true">
      </div>
    </div>
  </form>
</div>

<div class="block is-size-5" id="js-scores">
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr><th>#</th><th>Player1 / 301</th><th>Player2 / 301</th></tr>
    </thead>
    <tbody>
      <tr><td>2</td><td>18</td><td>31</td></tr>
      <tr><td>1</td><td>44</td><td></td></tr>
    </tbody>
  </table>
</div>

<div class="block has-text-right">
  <form action="/games/1/cancel_score" method="post" onsubmit="cancelScore(event, this)">
    <div class="field">
      <div class="control">
        <button class="button is-danger" type="submit">Cancel score</button>
      </div>
    </div>
  </form>
</div>

<script>
  async function addScore(e, form) {
    e.preventDefault();

    const response = await fetch(form.action, {method: 'post', body: new FormData(form)});
    const scores = document.getElementById('js-scores');
    scores.innerHTML = await response.text();
  }

  async function cancelScore(e, form) {
    e.preventDefault();

    const response = await fetch(form.action, {method: 'post'});
    const scores = document.getElementById('js-scores');
    scores.innerHTML = await response.text();
  }
</script>
