<h1 class="title">Recent games 2</h1>

<div class="block">
  <form action="/games" method="post">
    <div class="field">
      <div class="control">
        <button class="button" type="submit" autofocus="true">New game</button>
      </div>
    </div>
  </form>
</div>

<div class="block">
  <ul>
    <li><a href="/games/1">Game 1</a></li>
    <li><a href="/games/2">Game 2</a></li>
    <li><a href="/games/3">Game 3</a></li>
    <li><a href="/games/4">Game 4</a></li>
    <li><a href="/games/5">Game 5</a></li>
    <li><a href="/games/6">Game 6</a></li>
  </ul>
</div>
