<table class="table is-fullwidth is-striped">
  <thead>
    <tr><th>#</th><th>Player1 / 288</th><th>Player2 / 288</th></tr>
  </thead>
  <tbody>
    <tr><td>2</td><td>18</td><td>31</td></tr>
    <tr><td>1</td><td>44</td><td></td></tr>
  </tbody>
</table>
